<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('includes/head') %>
    <link rel="stylesheet" href="css/diary.css" />

    <!-- to use fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- header -->
    <header>
      <%- include ('includes/header') %>
    </header>

    <!-- main -->
    <main>
      <!-- section -->
      <sction class="main">
        <!-- posts -->
        <% posts.forEach(post => { %>
        <div class="post">
          <div class="img">
            <img src="../public/imgs/post/2.jpg" alt="포스트 게시물 사진" />
          </div>
          <div class="description">
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
            <span id="more">
              <a href="/diary/<%= post._id %>">전체 글 보기</a>
            </span>
            <span id="date">
              <%= (post.updated) ? `수정 : ${post.updatedDate.toLocaleString()}`
              : `작성 : ${post.postedDate.toLocaleString()}` %>
            </span>
          </div>
        </div>
        <% }) %>
      </sction>
    </main>

    <div class="createPost">
      <a href="/diary/write"
        ><button id="createPostButton">글 만들기</button></a
      >
    </div>

    <!-- footer -->
    <footer>
      <%- include ('includes/footer') %>
    </footer>

    <i class="fas fa-arrow-circle-up fa-2x" id="home"></i>

    <script src="../libs/common.js"></script>
    <script src="../libs/diary.js"></script>
  </body>
</html>
