<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <%- include ('includes/header') %>
    </header>

    <!-- main -->
    <main>
      <article class="postView">
        <header>
          <h1><%= post.title %></h1>
        </header>
        <section>
          <p><%= post.content %></p>
        </section>
      </article>
    </main>

    <div class="editButtons">
      <a href="/diary/<%= post._id %>/update"
        ><button id="updateButton">수정하기</button></a
      >
      <a href="/diary/<%= post._id %>/delete"
        ><button id="deleteButton">삭제하기</button></a
      >
    </div>

    <!-- footer -->
    <footer>
      <%- include ('includes/footer') %>
    </footer>

    <script src="../libs/common.js"></script>
  </body>
</html>
